body {
    background-color: Snow;
    font-family: "Georgia", serif;
    font-size: 12pt;
    width:65%;
    margin: 2em auto;
}
p {
    text-indent: 1em;
}

blockquote {
    text-indent: 1em;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 3em;
}

.header {
    width: 100%;
    padding: 0;
    border-spacing: 0; 
    border-collapse: separate;
    border: 0;
}
    

