body {
    font-family: "Courier", monospace;
    font-size: 10pt
}
p {
    text-indent: 1em;
}

.header {
    width: 100%;
    padding: 0;
    border-spacing: 0; 
    border-collapse: separate;
    border: 0;
}
    

